<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="HTTP" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="TCP" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61141/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="WebServiceReferenceTraining1.WebService1Soap"
                name="WebService1Soap" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFTraining1/Service1"
                binding="basicHttpBinding" bindingConfiguration="HTTP" contract="WCFSR.IService1"
                name="HTTP" />
            <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/WCFTraining1/Service1"
                binding="netTcpBinding" bindingConfiguration="TCP" contract="WCFSR.IService1"
                name="TCP">
                <identity>
                    <userPrincipalName value="SASCHA-INSPIRON\boeck" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>